# Tutorial 1 exercises


In this tutorial we'll go over a few exercises related to the content of the first lecture and tutorial.  In particular, you will

1. Work with different data types and data structures
2. Implement conditional logic
3. Write your own functions
4. Use Numpy and Pandas to solve multidimensional problem


## Data types and data structures

1. Extract the character 'o' from the string "Python" using conventional and negative indexing

In [1]:
my_string = "Python"

#Answer

2. Replace the string "Python" in the nested list with the string "Jupyter" instead

In [8]:
my_list = [1, 2, [3, 4,'Jupyter']]

#Answer

3. Replace the string "Python" in the nested list with the string "Jupyter" instead

In [ ]:
my_list = [1, 2, [3, 4, [5, 6, 'Jupyter']]]

#Answer

4. Arrange the following list in ascending order

In [12]:
my_list = [5, 4, 7, 2, 6, 1, 3,]

#Answer

5. Extract the unique items from this list

In [25]:
my_list = [2,3,4,5,2,3,1,9,9,8,4,3,4,5,1]

6. Think of your own example for where a dictionary would be useful

In [ ]:
#Answer

7. Get "Python" from the following dictionary

In [34]:
my_dict = {'key1':'Python'}

#Answer

8. Get "Python" from the following dictionary

In [35]:
my_dict = {'key1':{'key2':'Python'}}

#Answer

9. Get "Python" from the following dictionary

In [36]:
my_dict = {'key1':[1,2,{'key2':['Jupyter',{'Anaconda':[3,4,['Python']]}]}]}

#Answer

## Conditonal logic

10. Print the integers from 1 to 50. For every multiple of three, print "Snap", for every multiple of five, print "Crackle", and for numbers which are multiples of both three and five print "Pop".

In [ ]:
#Answer

11. Go through the sentence, <code>my_sentence</code>, and print every word of which the length of that word is an odd number

In [ ]:
my_sentence = "This is the sentence I would like you to print out and use for question 11 in this tutorial"

#Answer

## Functions

12. Write a function called <code>talk</code> that prints "Hello" every time it is called

In [ ]:
#Answer

13. Write a function called <code>introduction</code> that takes a name as an input and prints the following
    "Hello, my name is [insert name here]"

In [ ]:
#Answer

14) Write a function that (i) takes two integers as input (ii) checks that the two inputs provided are indeed integers (prints out a message if not) (iii) returns the larger of the two integer and (iv) returns a string "equal" if the two numbers are equal

In [ ]:
#Answer

15. Write a function that takes a word and capitalizes the first and third character

In [ ]:
#Answer

16. Write a function that takes three integers as inputs and checks whether the first integer is in the range between the second and third integer. If the second integer is greater than or equal to the third integer, print an appropriate message

In [27]:
def check_range(user_num, low_num, high_num):

    #Answer
    pass

17. Write a function called "Blackjack" that takes 3 integers as an input. (i) If the sum is less than or equal to 21, return the sum. (ii) If the sum is greater than 21, but there is an 11 as one of the three integers, reduce the sum by 10 and then return the sum (iii) If the sum is greater than 21 - even after (ii) - return the string "Bust"

In [26]:
#Answer

## Numpy and Pandas

17. The list <code>heights</code> contains a collection of heights expressed in inches. Convert these to metres which are simply, inches multipled by 0.0254

In [33]:
heights = [74, 74, 72, 72, 73, 69, 69, 71, 76, 71, 73, 73, 74, 74, 69, 70, 73, 75, 78, 79, 
           76, 74, 76, 72, 71, 75, 77, 74, 73, 74, 78, 73, 75, 73, 75, 75, 74, 69, 71, 74]

#Answer

18. Using the same data, print out all the heights below 1.78m

In [ ]:
#Answer

19. Convert the list to a 2D Numpy array

In [ ]:
my_list = [[200, 74.4],
            [175, 100.6],
            [168, 92.2],
            [190, 80.2]]

#Answer

20. Convert the lists to a dictionary, and then to a data frame

In [32]:
names = ['United States', 'Australia', 'Russia', 'South Africa', 'Canada', 'Namibia']
north_hemis =  [True, False, True, False, True, False]
pop = [325.7, 24.1, 144.3, 55.9, 36.3, 2.5]

#Answer

21. Import the following dataset as a pandas dataframe directly from the web and print out some summary statistics: http://tutorials.iq.harvard.edu/R/Rgraphics/dataSets/landdata-states.csv

In [31]:
# Answer